.benefit {
  background: #2F2D30;
  padding: 88px 0px 80px 0px;

  &__wrapper {
    position: relative;
    display: flex;
  
  }

  &__title {
    font-size: 64px;
    line-height: 78px;
    max-width: 511px;
    @extend %Cor-700;
    color: #ffff;
    margin: 0 auto;

  }

  &__sub-title {
    @extend %Cor-700;
    font-size: 32px;
    line-height: 39px;
    max-width: 1116px;
    color: #ffff;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 50px;
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 94px;
    gap: 0px 40px;
  }

  &__item {
    color: #fff;
    max-width: 345px;
    margin-top: 43px;
  }

  &__advantage-images {
    width: 71px;
    height: 71px;
    background-color: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__advantage-title {
    padding: 16px 0 22px 0px;
    max-width: 261px;
    @extend %Cor-700;
    font-size: 24px;
    line-height: 108.6%;
  }

  &__advantage-text {
    @extend %Cor-500;
    font-size: 20px;
    line-height: 24px;
    max-width: 341px;
  }
  &__advantage-text-second{
     max-width: 333px !important;
  }
}



// 
.swiper {
  width: 356px;
  height: 691px;
  background: #FFFFFF;
  position: initial !important;

}

.slick-list {
  overflow: visible !important;
}

.swiper-slide {
  padding: 17px 19px 0px 19px;
}

.swiper-slide img {}

.swiper-box {
  &__sub-title {
    @extend %Cor-700;
    font-size: 20px;
    padding-top: 31px;
    padding-bottom: 11px;
  }

  &__text-one {
    &::after {
      content: '';
      background: #ffff !important;
    }
  }

  &__text {
    max-width: 302px;
    padding-left: 29px;
    font-size: 20px;
    line-height: 24px;
    @extend %Cor-500;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      width: 12px;
      height: 2px;
      background: #3C3030;
      left: 7px;
      top: 12px;
    }
  }

  &__text+.swiper-box__text {
    margin-top: 16px;
  }
}

.swiper-button-next,
.swiper-button-prev {
  display: none !important;
}

.swiper-pagination {
  bottom: -54px !important;
  top: auto !important;
  right: -33px !important;
}

.swiper-pagination-bullet {
  width: 5px !important;
  height: 32px !important;
  border-radius: 0% !important;
  background: rgba(255, 255, 255, 0.26) !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background: #ffff !important;
}

.swiper-title {
  position: absolute;
  right: 0;
  transform: rotate(-90deg);
  @extend %Cor-400;
  font-size: 32px;
  top: 42%;
  right: -15.8%;
  color: #ffff;
}






/* @extend %Cor-500; */