.benefit {
  background: #2F2D30;
  padding: 88px 0px 80px 0px;

  &__wrapper {
    position: relative;
    display: flex;

  }

  &__title {
    font-size: 22px;
    line-height: 78px;
    @extend %Cor-700;
    color: #ffff;
    margin: 0 auto;

  }

  &__sub-title {
    @extend %Cor-700;
    font-size: 32px;
    line-height: 39px;
    max-width: 1116px;
    color: #ffff;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 50px;
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 90px;
    gap: 0px 40px;
  }

  &__item {
    color: #fff;
    max-width: 345px;
    margin-top: 43px;
  }

  &__advantage-images {
    width: 71px;
    height: 71px;
    background-color: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__advantage-title {
    padding: 16px 0 22px 0px;
    max-width: 261px;
    @extend %Cor-700;
    font-size: 24px;
    line-height: 108.6%;
  }

  &__advantage-text {
    @extend %Cor-500;
    font-size: 20px;
    line-height: 24px;
    max-width: 341px;
  }
  &__reviews-text-mob{
    @extend %Cor-500;
    font-size: 20px;
    line-height: 24px;
    max-width: 341px;
    display: none;
  }
  &__advantage-text-second {
    max-width: 333px !important;
  }

  &__title-mob {
    font-size: 32px;
    @extend %Cor-400;
    display: none;
  }

  &__reviews-comment {

    background-image: url('../img/benefit/Rectangle-2.svg');
    height: 108px;
    max-width: 380.5px;
    margin-bottom: 40px;
  }

  &__reviews-comment:nth-child(even) {
    background-image: url('../img/benefit/Rectangle.svg');
  }

  &__reviews-comment:nth-child(even) {
    display: flex;
    flex-direction: row-reverse;
  }


  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__reviews-items {
    padding-top: 118px;
    max-width: 480px;

  }

  &__reviews-item {
    display: flex;
    align-items: center;

    img {
      margin-top: -33px;
      margin-right: 10px;
    }
  }



  &__reviews-text {
    font-size: 20px;
    @extend %Cor-500;
    padding: 19px 28px 25px 30px;
  }

  &__showWork-wrapper {
    position: relative;
    max-width: 750px;
    background-color: #ffff;
    padding-left: 44px;
    padding-bottom: 218px;
    padding-top: 106px;

    &::after {
      content: '';
      position: absolute;
      background-color: #ffff;
      width: 170px;
      top: 0;
      height: 710px;
      right: -170px;
    }
  }

  &__showWork-title {
    font-size: 64px;
    @extend %Cor-700;
    max-width: 500px;
    text-align: center;
  }

  &__showWork-text {
    padding-top: 30px;
    font-size: 24px;
    @extend %Cor-500;
    max-width: 517px;

  }

}

@media (max-width: 1500px) {
  .benefit {
    &__showWork-wrapper {
      padding-right: 40px;

      &:after {
        display: none;
      }
    } 
  }
  

}



@media (max-width: 1450px) {
  .benefit {
    &__wrapper {
      position: static;
    }

    &__title-mob {
      display: block;
      color: #ffff;
      padding-bottom: 30px;
      text-align: center;
    }

    &__items {
      display: block;
    }

    &__slider {
      position: relative;
      height: 820px;
    }

    &__item {
      width: 90%;
      max-width: 90%;
    }

    &__advantage-text {
      width: 90%;
      max-width: 90%;
    }

    &__advantage-text-second {
      width: 90%;
      max-width: 90% !important;
    }

    /* slider */

    .swiper-pagination {
      transform: rotate(90deg);
      right: 182px !important;
    }

    .swiper-title {
      display: none;
    }
  }

}

@media (max-width: 1150px) {
  .benefit {
    &__inner {
      flex-wrap: wrap;
    }

    &__reviews-items {
      max-width: 100%;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: inherit;
    }
    &__items{
      padding-bottom: 0px;
    }
    &__showWork-wrapper {
      width: 100%;
      max-width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

@media (max-width: 990px) {
  .benefit {
    &__reviews-comment {
      max-width: 100%;
      background-size: 100%;
      background-repeat: no-repeat;
    }
    .benefit__reviews-item img {
      margin-top: 16px;
    }
  }
}

@media (max-width: 800px) {
  .benefit {
    &__slider {
      height: auto;
    }

    &__wrapper {
      flex-direction: column;
    }

    .swiper-pagination {
      right: 49% !important;
    }
  }

  .benefit__slider {
    position: relative;

    &::after {
      display: block;

    }

    &__item {
      width: 100%;
      max-width: 100%;
    }

    &__advantage-text {
      width: 100%;
      max-width: 100%;
    }

    &__advantage-text-second {
      width: 100%;
      max-width: 100% !important;
    }
  }

  .swiper-pagination {
    bottom: -16% !important;
  }


}

@media (max-width: 650px) {
  .benefit {
    &__title {
      font-size: 32px;
      max-width: 256px;
      text-align: center;
      padding-bottom: 20px;
      line-height: 38px;
    }

    &__sub-title {
      max-width: 201px;
      font-size: 18px;
      line-height: 21.8px;
    }

    &__advantage-text {
      font-size: 18px;
      width: 100% !important;
      max-width: 100% !important;
    }
    &__inner{
      flex-wrap: wrap-reverse;
    }
    &__showWork-wrapper{
      margin-top: 70px;
      padding: 0px 20px 20px 20px;
    }
    &__showWork-title{
      font-size: 32px;
      max-width: 320px;
      padding-top: 30px;
    }
    &__showWork-text{
      max-width: 320px;
      font-size: 16px;
    }
  }

}
@media (max-width: 550px) {
  .benefit {
    &__reviews-text-mob{
      display: block;
      max-width: 320px;
      font-size: 16px;
      padding: 20px;
    }
    &__reviews-text{
      display: none;
    }
    &__reviews-comment{
      background-size: initial;
    }
    &__reviews-comment{
      background-position:right;
    }
    &__reviews-comment:nth-child(even) {
      background-position:left;
    }
  }
}
@media (max-width: 430px) {
  .swiper {
    width: 258px;
  }

  .swiper-slide {
    img {
      width: 217px;
      height: 177px;
    }
  }

  .swiper-box__text {
    font-size: 16px;
  }
  
}

/* @extend %Cor-500; */