.link-first{
    padding: 18px 49px;
    font-size: 16px;
    color: #ffff;
    border: 1px solid #2F2D30;
    background: #3C3030;
    transition: all 0.5s;
    &:hover{
        background: #ffff;
        color: #2F2D30;
        transition: all 0.5s;
    }
}

.link-second{
    padding: 18px 49px;
    font-size: 16px;
    color: #2F2D30;
    border: 1px solid #2F2D30;
    background: #ffff;
    transition: all 0.5s;
    &:hover{
        background: #3C3030;
        color:#ffff;
        transition: all 0.5s;
    }
}

.link-first + .link-second {
    margin-left: 30px;
}
.link-second +.link-first{
    margin-left: 30px;
}