@font-face{
    font-family: 'Cormorant-Bold';
    font-weight: 700;
    font-style: normal;
    src: local('Cormorant-Bold'),
         url('../fonts/Cormorant-Bold.woff2') format('woff2'),
         url('../fonts/Cormorant-Bold.woff') format('woff');
    font-display: swap;
}

@font-face{
    font-family: 'Cormorant-Medium';
    src: local('Cormorant-Medium'),
         url('../fonts/Cormorant-Medium.woff2') format('woff2'),
         url('../fonts/Cormorant-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face{
    font-family: 'Cormorant-Regular';
    font-weight: 400;
    font-style: normal;
    src: local('Cormorant-Regular'),
         url('../fonts/Cormorant-Regular.woff2') format('woff2'),
         url('../fonts/Cormorant-Regular.woff') format('woff');
    font-display: swap;
}

@font-face{
    font-family: 'Montserrat-Bold';
    font-weight: 700;
    font-style: normal;
    src: local('Montserrat-Bold'),
         url('../fonts/Montserrat-Bold.woff2') format('woff2'),
         url('../fonts/Montserrat-Bold.woff') format('woff');
    font-display: swap;
}
@font-face{
    font-family: 'Montserrat-Regular';
    font-weight: 400;
    font-style: normal;
    src: local('Montserrat-Regular'),
         url('../fonts/Montserrat-Regular.woff2') format('woff2'),
         url('../fonts/Montserrat-Regular.woff') format('woff');
    font-display: swap;
}





